@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import "tailwindcss";
@theme {
  --font-lobster: "lobster", sans-serif;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
:root {
  font-family: Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
